<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">

       <script src='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js'></script>
       <link href='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css' rel='stylesheet' />

       
    
   <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


      <title>{{title}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>

      {{{body}}}

       <div id='map' style='width: 440px; height: 330px;'></div>
       <script src="/js/mapbox.js"></script>

     
   </body>

</html>