<div id="logo-container">
    <img id="logo" src="images/Sharemap.PNG">
</div>
<h1>Log in</h1>
<form action="/login" method="POST">
	<label for="username">Username: </label>
	<input type="text" name="username">
	<label for="password">Password: </label>
	<input type="password" name="password">
	<button type="submit">Log in</button>
	{{#if message}}
		<p>{{message}}</p>
	{{/if}}
</form>
<h3>Don't have an account yet? <a class="" href="/signup"> Sign Up</a></h3> 
